PORT=3000
JWT_SECRET=your_jwt_secret
SALT_ROUNDS=10

DATABASE_URL=postgresql://username:password@host:5432/database?sslmode=require

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM="Todo App <your_email@gmail.com>"

JWT_EMAIL_SECRET=your_email_jwt_secret
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
